<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA5jHw2Wlg-2VBSP34afOaczx7dm2W-Kk8</string>
	<key>GCM_SENDER_ID</key>
	<string>41445782814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.asfand.corvit.corvitWeekEve</string>
	<key>PROJECT_ID</key>
	<string>corvitweek2023</string>
	<key>STORAGE_BUCKET</key>
	<string>corvitweek2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41445782814:ios:e10ebe27a338b26892450f</string>
	<key>DATABASE_URL</key>
	<string>https://corvitweek2023-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>